<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<h3>Comments:</h3>
{{#each comments}}
  <div class="comment">
    <p>{{this.post_comment}}</p>
    <p>Commented by {{this.user.name}} on {{format_date this.date_created}}</p>
  </div>
{{/each}}